html, body {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, p, a, ul, li, span, img {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: 100;
  list-style: none; }

a, a:hover, a:active, a:link, a:focus, a:visited {
  color: #303133;
  background-color: transparent !important; }

.cmo-block {
  min-height: 100vh; }

.cmo-tc {
  text-align: center;
  vertical-align: middle; }

.cmo-tr {
  text-align: right; }

.cmo-tl {
  text-align: left; }

.cmo-tt {
  vertical-align: top; }

.cmo-oh {
  overflow: hidden; }
  .cmo-oh-y {
    overflow-y: hidden;
    overflow-x: auto; }
  .cmo-oh-x {
    overflow-x: hidden;
    overflow-y: auto; }

.cmo-fl {
  float: left; }

.cmo-fr {
  float: right; }

.cmo-mc {
  margin: 0 auto; }

.cmo-pr {
  position: relative; }

.cmo-explain {
  padding: 5px 10px;
  border-left: 1px solid #cba66c; }

.cmo-bottom {
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%; }

.cmo-sn {
  user-select: none; }

.cmo-pt {
  cursor: pointer; }

.color-w {
  color: #ffffff; }

.color-d2c9cf {
  color: #d2c9cf; }

.color-0079fe {
  color: #5c9ee4 !important; }

.color-b {
  color: #000000; }

.color-c90 {
  color: #c90; }

.color-666 {
  color: #666666; }

.color-8f591d {
  color: #8f591d; }

.color-5796d0 {
  color: #5796d0; }

.color-293462 {
  color: #293462; }

.color-f83c01 {
  color: #f83c01; }

.color-b79208 {
  color: #b79208; }

.color-579aff {
  color: #579aff; }

.color-ce4a21 {
  color: #ce4a21; }

.color-29 {
  color: #292929; }

.color-f4c720 {
  color: #f4c720; }

.color-pink {
  color: pink; }

.color-00b7a8 {
  color: #00b7a8; }

.color-409eff {
  color: #409eff !important; }

.color-f56c6c {
  color: #f56c6c !important; }

.color-909399 {
  color: #909399 !important; }

.color-67C23A {
  color: #67C23A !important; }

.color-E6A23C {
  color: #E6A23C !important; }

.bg-tsp {
  background-color: transparent; }

.bg-w {
  background-color: #ffffff; }

.bg-red {
  background-color: #f35757; }

.bg-0079fe {
  background-color: #6faff3; }

.bg-323178 {
  background-color: #323178; }

.bg-d7 {
  background-color: #d7d7d7; }

.bg-f2d8b7 {
  background-color: #f2d8b7; }

.bg-e3c7a2 {
  background-color: #e3c7a2; }

.bg-f2 {
  background-color: #f2f2f2; }

.bg-f5 {
  background-color: #f5f5f5; }

.bg-bc {
  background-color: #bcbcbc; }

.bg-e4 {
  background-color: #e4e4e4; }

.bg-cba66c {
  background-color: #cba66c; }

.bg-e5c997 {
  background-color: #e5c997; }

.bg-f08f09 {
  background-color: #f08f09; }

.bg-19b7fd {
  background-color: #19b7fd; }

.bg-3cb035 {
  background-color: #54b34f; }

.bg-e4 {
  background-color: #e4e4e4; }

.bg-d9a754 {
  background-color: #d9a754; }

.bg-dcbd88 {
  background-color: #dcbd88; }

.bg-ea {
  background-color: #eaeaea; }

.bg-ec {
  background-color: #ececec; }

.bg-528fc8 {
  background-color: #528fc8; }

.bg-97cdff {
  background-color: #97cdff; }

.bg-cfb761 {
  background-color: #cfb761; }

.bg-f4c720 {
  background-color: #f4c720; }

.bg-333 {
  background-color: #333333e0; }

.bg-a6d2fb {
  background-color: #a6d2fb; }

.bg-5796d0 {
  background-color: #5796d0; }

.bg-eae3ff {
  background-color: #eae3ff; }

.bg-c7 {
  background-color: #c7c7c7; }

.bg-e1 {
  background-color: #e1e1e1; }

.bg-59b862 {
  background-color: #59b862; }

.mg5 {
  margin: 5px; }

.mg10 {
  margin: 10px; }

.mg-t5 {
  margin-top: 5px; }

.mg-t10 {
  margin-top: 10px; }

.mg-t15 {
  margin-top: 15px; }

.mg-t20 {
  margin-top: 20px; }

.mg-t30 {
  margin-top: 30px; }

.mg-t40 {
  margin-top: 40px; }

.mg-l5 {
  margin-left: 5px; }

.mg-l10 {
  margin-left: 10px; }

.mg-l20 {
  margin-left: 20px; }

.mg-r5 {
  margin-right: 5px; }

.mg-r10 {
  margin-right: 10px; }

.mg-r20 {
  margin-right: 20px; }

.pad5 {
  padding: 5px; }

.pad10 {
  padding: 10px; }

.pad20 {
  padding: 20px; }

.pad-l5 {
  padding: 0 5px; }

.pad-l10 {
  padding: 0 10px; }

.pad-l15 {
  padding: 0 15px; }

.pad-l20 {
  padding: 0 20px; }

.pad-l30 {
  padding: 0 30px; }

.pad-n5 {
  padding: 5px 0; }

.pad-n10 {
  padding: 10px 0; }

.pad-n20 {
  padding: 20px 0; }

.radius50 {
  border-radius: 50%;
  overflow: hidden; }

.radius-50 {
  border-radius: 50px;
  overflow: hidden; }

.radius-20 {
  border-radius: 20px;
  overflow: hidden; }

.radius-40 {
  border-radius: 40px;
  overflow: hidden; }

.radius-10 {
  border-radius: 10px;
  overflow: hidden; }

.radius-5 {
  border-radius: 5px;
  overflow: hidden; }

.font-w {
  font-weight: bold; }

.font-big {
  font-size: 25px; }

.font-md {
  font-size: 18px; }

.font-mini {
  font-size: 12px; }

.font-ip {
  font-family: 'Impact'; }

.font-solid {
  white-space: nowrap; }

.font-tl {
  text-decoration: underline; }

.font-13 {
  font-size: 13px; }

.border {
  border: 1px solid transparent; }
  .border-color__w {
    border-color: #fff !important; }
  .border-color__b {
    border-color: #000000; }
  .border-black {
    border-color: #000000; }
  .border-fc3 {
    border-color: #fc3; }
  .border-f2 {
    border-color: #f2f2f2; }
  .border-vip {
    border-color: #f4c720; }
  .border-c9 {
    border-color: #c9c9c9; }
  .border-bottom {
    border-bottom: 1px solid #e9e9e9 !important; }
  .border-none {
    border-color: transparent;
    outline: 0; }
    .border-none input {
      border: 0;
      outline: 0; }
  .border-shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }

.img-block {
  width: 100%;
  height: 100%;
  display: inline-block; }

.indent-20 {
  text-indent: 20px; }

.indent-40 {
  text-indent: 40px; }

.letter-1 {
  letter-spacing: 1px; }

.letter-5 {
  letter-spacing: 5px; }

.letter-10 {
  letter-spacing: 10px; }
